<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <listener>
    <listener-class>eu.webtoolkit.jwt.ServletInit</listener-class>
  </listener>

  <!-- This applies only to servlet 3.0 -->
   <session-config>
    <tracking-mode>URL</tracking-mode>
  </session-config>

  <servlet>
    <servlet-name>DrinkingBuddies</servlet-name>
    <display-name>Drinking buddies application</display-name>
    <description>Drinking buddies application</description>
    <servlet-class>com.github.drinking_buddies.Main</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DrinkingBuddies</servlet-name>
    <url-pattern>/db/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>bars-service</servlet-name>
    <display-name>Bars service</display-name>
    <description>Bars service</description>
    <servlet-class>com.github.drinking_buddies.webservices.servlet.BarsRestServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>bars-service</servlet-name>
    <url-pattern>/db/rest/*</url-pattern>
  </servlet-mapping>
</web-app>

